<h1>Pokemones#index</h1>

      <div>
   <h1>Nombres de pokemon</h1>
    <% @pokemon ["results"].each do |hola|  %>
    <p>
    <a href="<%=  hola["name"] %>">
    <%=  hola["name"] %>
     </a>
     <a href="">
    <%= %>
     </a>
     </p>
    <% end %>   
    <a href="algo">hi</a>
      </div>
  


